{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload to HDFS</title>
    <link rel="stylesheet" href="{% static 'hadoop_integration/css/upload.css' %}">
</head>
<body style="background-image: url('{% static "hadoop_integration/images/dow.jpg" %}');">
   
   <header> 
        <h1>Upload Files to HDFS</h1> 
   </header>
    
    <!-- Upload form -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
    
</body>
</html>

