/* static/hadoop_integration/css/upload_to_hdfs.css */
body {
    background-image: url('../images/dow.jpg');
    background-color: #e0f7fa;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Header styling */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color:yellow;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #00796b;
    border-radius: 10px;
    width: 300px;
}

input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"] {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #004d40;
}